.settings-row-padding {
    padding: 12px 14px 18px; /* this is actually from VsCode sources */
}
.settings-row-header--collapsed {
    cursor: pointer;
    margin-bottom: -4px; /* to mitigate 12px vs 18px difference in padding (see above) */
}

.settings-row-bg:hover {
    background-color: var(--vscode-settings-rowHoverBackground);
}
.settings-row-bg:focus-within {
    background-color: var(--vscode-settings-rowHoverBackground);
    outline: 1px solid var(--vscode-settings-focusedRowBorder) !important;
}


.show-when-settings-row-focus-within {
    visibility: hidden;
}
.settings-row-bg:focus-within .show-when-settings-row-focus-within {
    visibility: visible;
}
