.settings-row-padding {
    padding: calc(3 * var(--input-padding-vertical));
}
.settings-row-bg:hover {
    background-color: var(--vscode-settings-rowHoverBackground);
}
.settings-row-bg:focus-within {
    background-color: var(--vscode-settings-rowHoverBackground);
    outline: 1px solid var(--vscode-settings-focusedRowBorder);
}
