.settings-row-padding {
    padding: calc(3 * var(--input-padding-vertical));
}
.settings-row-bg:hover {
    background-color: var(--vscode-settings-rowHoverBackground);
}
.settings-row-bg:focus-within {
    background-color: var(--vscode-settings-rowHoverBackground);
    outline: 1px solid var(--vscode-settings-focusedRowBorder) !important;
}


.show-when-settings-row-focus-within {
    visibility: hidden;
}
.settings-row-bg:focus-within .show-when-settings-row-focus-within {
    visibility: visible;
}
