.comma-list > *:not(:last-child):after {
    content: ', ';
}

.d-inline-block {
    display: inline-block;
}
.w-auto {
    width: auto;
}

.grid-snippets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
}

.snippet-textarea {
    font-family: var(--vscode-editor-font-family);
    border: 1px solid var(--vscode-input-border);
}
