:root {
    --editorSettings-lineHeight: 18;
    --editorSettings-lineHeightFraction: 1.5;

    --height-mono: calc(var(--editorSettings-lineHeight) * 1px);

    --square-section-color: var(--vscode-button-secondaryBackground); /* --vscode-dropdown-border */
    --square-border-color: var(--vscode-input-border);
    --knob-size: 18px;
}

.height-mono {
    height: var(--height-mono);
}
.margin-bottom-neg-height-mono {
    margin-bottom: calc(-1 * var(--height-mono));
}
.px-small,
input:not([type="checkbox"]).px-small,
textarea.px-small {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.square-color-foreground {
    color: var(--square-color);
}
.py-for-small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* Utilities */

.font-mono,
input:not([type="checkbox"]).font-mono,
textarea.font-mono {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}
.font-sans {
    font-size: var(--vscode-font-size);
    font-family: var(--vscode-font-family);
}

.widget-shadow { box-shadow: 0 0 8px 2px var(--vscode-widget-shadow); }

.truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.block       { display: block; }
.inline-block { display: inline-block; }
.inline      { display: inline; }
.hidden      { display: none; }
.flex        { display: flex; }
.inline-flex { display: inline-flex; }
.flex-none   { flex: none; }

.absolute { position: absolute; }
.relative { position: relative; }

.shrink	  { flex-shrink: 1; }
.shrink-0 { flex-shrink: 0; }

.grow   { flex-grow: 1; }
.grow-0 { flex-grow: 0; }

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }
.justify-evenly  { justify-content: space-evenly; }

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.fg-icon { color: var(--vscode-icon-foreground); }
.fg-link { color: var(--vscode-textLink-activeForeground); }
.hover\:fg-link:hover { color: var(--vscode-textLink-activeForeground); }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.cursor-grab { cursor: grab; }

.select-none { user-select: none; }
.select-text { user-select: text; }
.select-all { user-select: all; }
.select-auto { user-select: auto; }

.underline-dotted {
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

.border-0 { border: 0; }

.outline-none { outline: none !important; }

.border-invalid { border: 1px solid var(--vscode-inputValidation-errorBorder); }
.outline-invalid { outline-color: var(--vscode-inputValidation-errorBorder) !important; }
.bg-invalid {  background-color: var(--vscode-inputValidation-errorBackground); }
