.map-surface-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: scroll;
    overscroll-behavior: contain;
}

.map-surface {
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    outline: 1px dotted lime;
}

.map-bg-image {
    background-image: url("static/dots.png");
    background-position: top left;
    background-repeat: repeat;
    background-size: 100px;
}
.bg-scrollable {
    background-attachment: local;
}


.square {
    position: absolute;
    z-index: 2;
    min-width: 8rem;
    border: 1px solid var(--square-border-color);
    background: white;

    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
.shadow-square {
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.3);
}

.square.is-grabbing {
    transform: scale(1.02);
    box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.2);
}


svg path.animated {
    stroke-dasharray: 5;
    animation: dashdraw 0.2s linear infinite;
}
@keyframes dashdraw {
    0% {
        stroke-dashoffset: 10;
    }
}
