
.t-1, .t-n1, .t-2, .t-n2, .t-3, .t-n3 { position: relative; }
.t-1 { top: 1px; } .t-n1 { top: -1px; }
.t-2 { top: 2px; } .t-n2 { top: -2px; }
.t-3 { top: 3px; } .t-n3 { top: -3px; }

.cursor-default { cursor: default; }
.cursor-grab { cursor: grab; }

.cursor-grabbing-everywhere { user-select: none !important; }
.cursor-grabbing-everywhere * { cursor: grabbing !important; }

.bg-light { background-color: #f8f9fa !important; }



.zoom-button {
    background: transparent !important;
    color: var(--vscode-foreground);
    min-width: var(--button-size);
    width: var(--button-size);
    height: var(--button-size);
}
.zoom-button.disabled {
    color: var(--vscode-descriptionForeground);
}
.zoom-button.disabled:focus {
    outline-color: var(--vscode-textSeparator-foreground) !important;
}



.record-knob {
    position: relative;
    width: 0;
}
.record-knob:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    margin-top: calc(-0.5 * var(--knob-size));
    left: calc(-0.5 * var(--knob-size));
    height: var(--knob-size);
    width: var(--knob-size);

    border-radius: 50%;
    border: 1px solid var(--square-border-color);
    background: var(--vscode-editor-background);
}
.record-knob:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: var(--square-color);
}

.show-record-knob-on-hover .record-knob {
    opacity: 0;
}
.show-record-knob-on-hover:hover .record-knob {
    opacity: 1;
}

.reference-trolley {
    border-radius: 50rem;
    background: var(--vscode-editor-background);
    border: 1px solid var(--square-border-color);
    margin-left: calc(-0.5 * var(--knob-size));
    padding-left: calc(0.5 * var(--knob-size));
    padding-right: calc(0.5 * var(--knob-size));
}

.brick--dragover {
    outline: 2px solid blueviolet;
    z-index: 1;
}


.outline-editor {
    outline: 1px solid var(--square-border-color);
    z-index: 1;
    outline-offset: 0px !important;
}
.outline-editor:focus {
    outline-color: var(--vscode-notebook-focusedEditorBorder);
    z-index: 2;
}
