.dropdown {
    position: relative;
}
.dropdown > summary {
    list-style: none;
}
.dropdown > summary::-webkit-details-marker {
    display: none
}
.dropdown > summary + * {
    position: absolute;
    left: 0;
    z-index: 10;
}
