.dropdown {
    position: relative;
}
.dropdown > summary {
    list-style: none;
}
.dropdown > summary::-webkit-details-marker {
    display: none
}
.dropdown > summary + * {
    position: absolute;
    left: 0;
    z-index: 10;
}


.dropdown--having-svg-in-summary {
    --icon-size: 16px;
}
.dropdown--having-svg-in-summary > summary {
    border-radius: 5px;
    width: var(--icon-size);
    height: var(--icon-size);
    padding: calc((var(--knob-size) - var(--icon-size)) / 2);
}
.dropdown--having-svg-in-summary > summary:focus {
    outline: 1px solid var(--vscode-notebook-focusedEditorBorder);
    outline-offset: -1px;
}

.dropdown--having-svg-in-summary > summary:hover {
    background-color: var(--vscode-list-inactiveSelectionBackground);
}
.dropdown--having-svg-in-summary > summary:active {
    outline-width: 0;
}

.dropdown--having-svg-in-summary[open] > summary {
    background-color: var(--vscode-list-inactiveSelectionBackground);
    outline-width: 0;
}

.dropdown--having-svg-in-summary > summary > svg {
    width: var(--icon-size);
    height: var(--icon-size);
}
