:root {
    --vscode-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-font-family: "JetBrains Mono", Hack, Menlo, Monaco, "Courier New", monospace;
    --vscode-editor-font-weight: normal;
    --vscode-editor-font-size: 13px;
    --vscode-foreground: #f0f3f6;
    --vscode-errorForeground: #ff6a69;
    --vscode-descriptionForeground: #f0f3f6;
    --vscode-icon-foreground: #ffffff;
    --vscode-focusBorder: #409eff;
    --vscode-contrastBorder: #6fc3df;
    --vscode-contrastActiveBorder: #409eff;
    --vscode-textSeparator-foreground: #7a828e;
    --vscode-textLink-foreground: #71b7ff;
    --vscode-textLink-activeForeground: #71b7ff;
    --vscode-textPreformat-foreground: #f0f3f6;
    --vscode-textBlockQuote-background: #010409;
    --vscode-textBlockQuote-border: #7a828e;
    --vscode-textCodeBlock-background: rgba(158, 167, 179, 0.4);
    --vscode-input-background: #0a0c10;
    --vscode-input-foreground: #f0f3f6;
    --vscode-input-border: #7a828e;
    --vscode-inputOption-activeBorder: #6fc3df;
    --vscode-inputOption-activeBackground: rgba(0, 0, 0, 0);
    --vscode-input-placeholderForeground: #7a828e;
    --vscode-inputValidation-infoBackground: #000000;
    --vscode-inputValidation-infoBorder: #6fc3df;
    --vscode-inputValidation-warningBackground: #000000;
    --vscode-inputValidation-warningBorder: #6fc3df;
    --vscode-inputValidation-errorBackground: #000000;
    --vscode-inputValidation-errorBorder: #6fc3df;
    --vscode-dropdown-background: #272b33;
    --vscode-dropdown-listBackground: #272b33;
    --vscode-dropdown-foreground: #f0f3f6;
    --vscode-dropdown-border: #7a828e;
    --vscode-checkbox-background: #272b33;
    --vscode-checkbox-foreground: #f0f3f6;
    --vscode-checkbox-border: #7a828e;
    --vscode-button-foreground: #0a0c10;
    --vscode-button-background: #09b43a;
    --vscode-button-hoverBackground: #26cd4d;
    --vscode-button-border: #6fc3df;
    --vscode-button-secondaryForeground: #f0f3f6;
    --vscode-button-secondaryBackground: #4c525d;
    --vscode-button-secondaryHoverBackground: #525964;
    --vscode-badge-background: #409eff;
    --vscode-badge-foreground: #0a0c10;
    --vscode-scrollbarSlider-background: rgba(72, 79, 88, 0.2);
    --vscode-scrollbarSlider-hoverBackground: rgba(72, 79, 88, 0.27);
    --vscode-scrollbarSlider-activeBackground: rgba(72, 79, 88, 0.53);
    --vscode-progressBar-background: #409eff;
    --vscode-editorError-border: rgba(228, 119, 119, 0.8);
    --vscode-editorWarning-border: rgba(255, 204, 0, 0.8);
    --vscode-editorInfo-foreground: #3794ff;
    --vscode-editorInfo-border: rgba(55, 148, 255, 0.8);
    --vscode-editorHint-border: rgba(238, 238, 238, 0.8);
    --vscode-sash-hoverBorder: #409eff;
    --vscode-editor-background: #0a0c10;
    --vscode-editor-foreground: #f0f3f6;
    --vscode-editorWidget-background: #272b33;
    --vscode-editorWidget-foreground: #f0f3f6;
    --vscode-editorWidget-border: #6fc3df;
    --vscode-quickInput-background: #272b33;
    --vscode-quickInput-foreground: #f0f3f6;
    --vscode-quickInputTitle-background: #000000;
    --vscode-pickerGroup-foreground: #f0f3f6;
    --vscode-pickerGroup-border: #7a828e;
    --vscode-keybindingLabel-background: rgba(0, 0, 0, 0);
    --vscode-keybindingLabel-foreground: #ffffff;
    --vscode-keybindingLabel-border: #6fc3df;
    --vscode-keybindingLabel-bottomBorder: #6fc3df;
    --vscode-editor-selectionBackground: rgba(173, 220, 255, 0.6);
    --vscode-editor-selectionForeground: #000000;
    --vscode-editor-inactiveSelectionBackground: rgba(173, 220, 255, 0.4);
    --vscode-editor-selectionHighlightBackground: rgba(23, 229, 230, 0.2);
    --vscode-editor-selectionHighlightBorder: rgba(23, 229, 230, 0);
    --vscode-editor-findMatchBackground: rgba(255, 211, 61, 0.27);
    --vscode-editor-findMatchHighlightBackground: rgba(255, 211, 61, 0.13);
    --vscode-editor-findMatchBorder: #409eff;
    --vscode-editor-findMatchHighlightBorder: #409eff;
    --vscode-editor-findRangeHighlightBorder: rgba(64, 158, 255, 0.4);
    --vscode-searchEditor-findMatchBackground: rgba(255, 211, 61, 0.13);
    --vscode-searchEditor-findMatchBorder: #409eff;
    --vscode-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
    --vscode-editorHoverWidget-background: #272b33;
    --vscode-editorHoverWidget-foreground: #f0f3f6;
    --vscode-editorHoverWidget-border: #6fc3df;
    --vscode-editorHoverWidget-statusBarBackground: #272b33;
    --vscode-editorLink-activeForeground: #00ffff;
    --vscode-editorInlayHint-foreground: #0a0c10;
    --vscode-editorInlayHint-background: #409eff;
    --vscode-editorLightBulb-foreground: #ffcc00;
    --vscode-editorLightBulbAutoFix-foreground: #75beff;
    --vscode-diffEditor-insertedTextBackground: rgba(9, 180, 58, 0.15);
    --vscode-diffEditor-removedTextBackground: rgba(255, 106, 105, 0.15);
    --vscode-diffEditor-insertedTextBorder: #33ff2e;
    --vscode-diffEditor-removedTextBorder: #ff008f;
    --vscode-diffEditor-border: #6fc3df;
    --vscode-list-focusBackground: rgba(64, 158, 255, 0.15);
    --vscode-list-focusForeground: #f0f3f6;
    --vscode-list-focusOutline: #409eff;
    --vscode-list-activeSelectionBackground: rgba(158, 167, 179, 0.4);
    --vscode-list-activeSelectionForeground: #f0f3f6;
    --vscode-list-inactiveSelectionBackground: rgba(158, 167, 179, 0.4);
    --vscode-list-inactiveSelectionForeground: #f0f3f6;
    --vscode-list-inactiveFocusBackground: rgba(64, 158, 255, 0.15);
    --vscode-list-hoverBackground: rgba(158, 167, 179, 0.1);
    --vscode-list-hoverForeground: #f0f3f6;
    --vscode-list-highlightForeground: #71b7ff;
    --vscode-list-focusHighlightForeground: #71b7ff;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-listFilterWidget-background: #000000;
    --vscode-listFilterWidget-outline: #f38518;
    --vscode-listFilterWidget-noMatchesOutline: #6fc3df;
    --vscode-list-filterMatchBorder: #6fc3df;
    --vscode-tree-indentGuidesStroke: #7a828e;
    --vscode-list-deemphasizedForeground: #a7a8a9;
    --vscode-quickInputList-focusForeground: #f0f3f6;
    --vscode-menu-border: #6fc3df;
    --vscode-menu-foreground: #f0f3f6;
    --vscode-menu-background: #272b33;
    --vscode-menu-selectionForeground: #f0f3f6;
    --vscode-menu-selectionBackground: rgba(158, 167, 179, 0.4);
    --vscode-menu-selectionBorder: #409eff;
    --vscode-menu-separatorBackground: #6fc3df;
    --vscode-toolbar-hoverOutline: #409eff;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
    --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
    --vscode-breadcrumb-foreground: #f0f3f6;
    --vscode-breadcrumb-background: #0a0c10;
    --vscode-breadcrumb-focusForeground: #f0f3f6;
    --vscode-breadcrumb-activeSelectionForeground: #f0f3f6;
    --vscode-breadcrumbPicker-background: #272b33;
    --vscode-merge-border: #c3df6f;
    --vscode-editorOverviewRuler-currentContentForeground: #c3df6f;
    --vscode-editorOverviewRuler-incomingContentForeground: #c3df6f;
    --vscode-editorOverviewRuler-commonContentForeground: #c3df6f;
    --vscode-editorOverviewRuler-findMatchForeground: #ab5a00;
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-minimap-findMatchHighlight: #ab5a00;
    --vscode-minimap-selectionHighlight: #ffffff;
    --vscode-minimap-errorHighlight: #ff3232;
    --vscode-minimap-warningHighlight: rgba(255, 204, 0, 0.8);
    --vscode-minimapSlider-background: rgba(72, 79, 88, 0.1);
    --vscode-minimapSlider-hoverBackground: rgba(72, 79, 88, 0.13);
    --vscode-minimapSlider-activeBackground: rgba(72, 79, 88, 0.27);
    --vscode-problemsInfoIcon-foreground: #3794ff;
    --vscode-charts-foreground: #f0f3f6;
    --vscode-charts-lines: rgba(240, 243, 246, 0.5);
    --vscode-charts-blue: #3794ff;
    --vscode-charts-orange: #ab5a00;
    --vscode-charts-green: #89d185;
    --vscode-charts-purple: #b180d7;
    --vscode-editor-lineHighlightBackground: rgba(158, 167, 179, 0.1);
    --vscode-editor-lineHighlightBorder: #71b7ff;
    --vscode-editor-rangeHighlightBorder: #409eff;
    --vscode-editor-symbolHighlightBorder: #409eff;
    --vscode-editorCursor-foreground: #71b7ff;
    --vscode-editorWhitespace-foreground: #7a828e;
    --vscode-editorIndentGuide-background: #7a828e;
    --vscode-editorIndentGuide-activeBackground: #7a828e;
    --vscode-editorLineNumber-foreground: #f0f3f6;
    --vscode-editorActiveLineNumber-foreground: #409eff;
    --vscode-editorLineNumber-activeForeground: #f0f3f6;
    --vscode-editorRuler-foreground: #ffffff;
    --vscode-editorCodeLens-foreground: #999999;
    --vscode-editorBracketMatch-background: rgba(23, 229, 230, 0.31);
    --vscode-editorBracketMatch-border: rgba(23, 229, 230, 0);
    --vscode-editorOverviewRuler-border: #010409;
    --vscode-editorGutter-background: #0a0c10;
    --vscode-editorUnnecessaryCode-border: rgba(255, 255, 255, 0.8);
    --vscode-editorGhostText-border: rgba(255, 255, 255, 0.8);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: #ff3232;
    --vscode-editorOverviewRuler-warningForeground: rgba(255, 204, 0, 0.8);
    --vscode-editorOverviewRuler-infoForeground: rgba(55, 148, 255, 0.8);
    --vscode-editorBracketHighlight-foreground1: #ffd700;
    --vscode-editorBracketHighlight-foreground2: #da70d6;
    --vscode-editorBracketHighlight-foreground3: #87cefa;
    --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: #ff3232;
    --vscode-symbolIcon-arrayForeground: #f0f3f6;
    --vscode-symbolIcon-booleanForeground: #f0f3f6;
    --vscode-symbolIcon-classForeground: #ee9d28;
    --vscode-symbolIcon-colorForeground: #f0f3f6;
    --vscode-symbolIcon-constantForeground: #f0f3f6;
    --vscode-symbolIcon-constructorForeground: #b180d7;
    --vscode-symbolIcon-enumeratorForeground: #ee9d28;
    --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
    --vscode-symbolIcon-eventForeground: #ee9d28;
    --vscode-symbolIcon-fieldForeground: #75beff;
    --vscode-symbolIcon-fileForeground: #f0f3f6;
    --vscode-symbolIcon-folderForeground: #f0f3f6;
    --vscode-symbolIcon-functionForeground: #b180d7;
    --vscode-symbolIcon-interfaceForeground: #75beff;
    --vscode-symbolIcon-keyForeground: #f0f3f6;
    --vscode-symbolIcon-keywordForeground: #f0f3f6;
    --vscode-symbolIcon-methodForeground: #b180d7;
    --vscode-symbolIcon-moduleForeground: #f0f3f6;
    --vscode-symbolIcon-namespaceForeground: #f0f3f6;
    --vscode-symbolIcon-nullForeground: #f0f3f6;
    --vscode-symbolIcon-numberForeground: #f0f3f6;
    --vscode-symbolIcon-objectForeground: #f0f3f6;
    --vscode-symbolIcon-operatorForeground: #f0f3f6;
    --vscode-symbolIcon-packageForeground: #f0f3f6;
    --vscode-symbolIcon-propertyForeground: #f0f3f6;
    --vscode-symbolIcon-referenceForeground: #f0f3f6;
    --vscode-symbolIcon-snippetForeground: #f0f3f6;
    --vscode-symbolIcon-stringForeground: #f0f3f6;
    --vscode-symbolIcon-structForeground: #f0f3f6;
    --vscode-symbolIcon-textForeground: #f0f3f6;
    --vscode-symbolIcon-typeParameterForeground: #f0f3f6;
    --vscode-symbolIcon-unitForeground: #f0f3f6;
    --vscode-symbolIcon-variableForeground: #75beff;
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-editor-linkedEditingBackground: rgba(51, 146, 255, 0.13);
    --vscode-editor-wordHighlightBackground: rgba(23, 229, 230, 0);
    --vscode-editor-wordHighlightStrongBackground: rgba(23, 229, 230, 0);
    --vscode-editor-wordHighlightBorder: rgba(23, 229, 230, 0.6);
    --vscode-editor-wordHighlightStrongBorder: rgba(23, 229, 230, 0.4);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editor-foldBackground: rgba(158, 167, 179, 0.1);
    --vscode-editorGutter-foldingControlForeground: #ffffff;
    --vscode-peekViewTitleLabel-foreground: #ffffff;
    --vscode-peekViewTitleDescription-foreground: rgba(255, 255, 255, 0.6);
    --vscode-peekView-border: #6fc3df;
    --vscode-peekViewResult-background: #0a0c10;
    --vscode-peekViewResult-lineForeground: #ffffff;
    --vscode-peekViewResult-fileForeground: #ffffff;
    --vscode-peekViewResult-selectionForeground: #ffffff;
    --vscode-peekViewEditor-background: rgba(13, 17, 23, 0.53);
    --vscode-peekViewEditorGutter-background: rgba(13, 17, 23, 0.53);
    --vscode-peekViewResult-matchHighlightBackground: rgba(255, 211, 61, 0.2);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(255, 211, 61, 0.2);
    --vscode-peekViewEditor-matchHighlightBorder: #409eff;
    --vscode-editorMarkerNavigationError-background: #6fc3df;
    --vscode-editorMarkerNavigationWarning-background: #6fc3df;
    --vscode-editorMarkerNavigationWarning-headerBackground: #0c141f;
    --vscode-editorMarkerNavigationInfo-background: #6fc3df;
    --vscode-editorMarkerNavigation-background: #0a0c10;
    --vscode-editorSuggestWidget-background: #272b33;
    --vscode-editorSuggestWidget-border: #6fc3df;
    --vscode-editorSuggestWidget-foreground: #f0f3f6;
    --vscode-editorSuggestWidget-selectedForeground: #f0f3f6;
    --vscode-editorSuggestWidget-highlightForeground: #71b7ff;
    --vscode-editorSuggestWidget-focusHighlightForeground: #71b7ff;
    --vscode-tab-activeBackground: #0a0c10;
    --vscode-tab-unfocusedActiveBackground: #0a0c10;
    --vscode-tab-inactiveBackground: #010409;
    --vscode-tab-unfocusedInactiveBackground: #010409;
    --vscode-tab-activeForeground: #f0f3f6;
    --vscode-tab-inactiveForeground: #f0f3f6;
    --vscode-tab-unfocusedActiveForeground: #ffffff;
    --vscode-tab-unfocusedInactiveForeground: #ffffff;
    --vscode-tab-hoverBackground: #0a0c10;
    --vscode-tab-unfocusedHoverBackground: rgba(158, 167, 179, 0.1);
    --vscode-tab-border: #7a828e;
    --vscode-tab-lastPinnedBorder: #6fc3df;
    --vscode-tab-activeBorder: #0a0c10;
    --vscode-tab-unfocusedActiveBorder: #0a0c10;
    --vscode-tab-activeBorderTop: #ff967d;
    --vscode-tab-unfocusedActiveBorderTop: #7a828e;
    --vscode-tab-inactiveModifiedBorder: #ffffff;
    --vscode-tab-unfocusedActiveModifiedBorder: #ffffff;
    --vscode-tab-unfocusedInactiveModifiedBorder: #ffffff;
    --vscode-editorPane-background: #0a0c10;
    --vscode-editorGroup-focusedEmptyBorder: #409eff;
    --vscode-editorGroupHeader-tabsBackground: #010409;
    --vscode-editorGroupHeader-tabsBorder: #7a828e;
    --vscode-editorGroupHeader-noTabsBackground: #0a0c10;
    --vscode-editorGroupHeader-border: #6fc3df;
    --vscode-editorGroup-border: #7a828e;
    --vscode-panel-background: #010409;
    --vscode-panel-border: #7a828e;
    --vscode-panelTitle-activeForeground: #f0f3f6;
    --vscode-panelTitle-inactiveForeground: #f0f3f6;
    --vscode-panelTitle-activeBorder: #ff967d;
    --vscode-panelInput-border: #7a828e;
    --vscode-panel-dropBorder: #f0f3f6;
    --vscode-panelSectionHeader-border: #6fc3df;
    --vscode-panelSection-border: #7a828e;
    --vscode-banner-background: rgba(158, 167, 179, 0.4);
    --vscode-banner-foreground: #f0f3f6;
    --vscode-banner-iconForeground: #3794ff;
    --vscode-statusBar-foreground: #f0f3f6;
    --vscode-statusBar-noFolderForeground: #f0f3f6;
    --vscode-statusBar-background: #0a0c10;
    --vscode-statusBar-noFolderBackground: #0a0c10;
    --vscode-statusBar-border: #7a828e;
    --vscode-statusBar-noFolderBorder: #7a828e;
    --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
    --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
    --vscode-statusBarItem-prominentForeground: #f0f3f6;
    --vscode-statusBarItem-prominentBackground: #272b33;
    --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
    --vscode-statusBarItem-errorForeground: #ffffff;
    --vscode-statusBarItem-warningForeground: #ffffff;
    --vscode-activityBar-background: #0a0c10;
    --vscode-activityBar-foreground: #f0f3f6;
    --vscode-activityBar-inactiveForeground: #f0f3f6;
    --vscode-activityBar-border: #7a828e;
    --vscode-activityBar-activeBorder: #ff967d;
    --vscode-activityBar-dropBorder: #f0f3f6;
    --vscode-activityBarBadge-background: #409eff;
    --vscode-activityBarBadge-foreground: #0a0c10;
    --vscode-statusBarItem-remoteBackground: #409eff;
    --vscode-statusBarItem-remoteForeground: #0a0c10;
    --vscode-extensionBadge-remoteBackground: #409eff;
    --vscode-extensionBadge-remoteForeground: #0a0c10;
    --vscode-sideBar-background: #010409;
    --vscode-sideBar-foreground: #f0f3f6;
    --vscode-sideBar-border: #7a828e;
    --vscode-sideBarTitle-foreground: #f0f3f6;
    --vscode-sideBarSectionHeader-background: #010409;
    --vscode-sideBarSectionHeader-foreground: #f0f3f6;
    --vscode-sideBarSectionHeader-border: #7a828e;
    --vscode-titleBar-activeForeground: #f0f3f6;
    --vscode-titleBar-inactiveForeground: #f0f3f6;
    --vscode-titleBar-activeBackground: #0a0c10;
    --vscode-titleBar-inactiveBackground: #010409;
    --vscode-titleBar-border: #7a828e;
    --vscode-menubar-selectionForeground: #f0f3f6;
    --vscode-menubar-selectionBorder: #409eff;
    --vscode-notificationCenter-border: #6fc3df;
    --vscode-notificationToast-border: #6fc3df;
    --vscode-notifications-foreground: #f0f3f6;
    --vscode-notifications-background: #272b33;
    --vscode-notificationLink-foreground: #71b7ff;
    --vscode-notificationCenterHeader-foreground: #f0f3f6;
    --vscode-notificationCenterHeader-background: #272b33;
    --vscode-notifications-border: #7a828e;
    --vscode-notificationsErrorIcon-foreground: #ff6a69;
    --vscode-notificationsWarningIcon-foreground: #f0b72f;
    --vscode-notificationsInfoIcon-foreground: #71b7ff;
    --vscode-window-activeBorder: #6fc3df;
    --vscode-window-inactiveBorder: #6fc3df;
    --vscode-editorGutter-commentRangeForeground: #c5c5c5;
    --vscode-debugToolBar-background: #272b33;
    --vscode-debugIcon-startForeground: #89d185;
    --vscode-settings-headerForeground: #f0f3f6;
    --vscode-settings-modifiedItemIndicator: #e09b13;
    --vscode-settings-dropdownBackground: #272b33;
    --vscode-settings-dropdownForeground: #f0f3f6;
    --vscode-settings-dropdownBorder: #7a828e;
    --vscode-settings-dropdownListBorder: #6fc3df;
    --vscode-settings-checkboxBackground: #272b33;
    --vscode-settings-checkboxForeground: #f0f3f6;
    --vscode-settings-checkboxBorder: #7a828e;
    --vscode-settings-textInputBackground: #0a0c10;
    --vscode-settings-textInputForeground: #f0f3f6;
    --vscode-settings-textInputBorder: #7a828e;
    --vscode-settings-numberInputBackground: #0a0c10;
    --vscode-settings-numberInputForeground: #f0f3f6;
    --vscode-settings-numberInputBorder: #7a828e;
    --vscode-settings-focusedRowBorder: #409eff;
    --vscode-terminal-foreground: #f0f3f6;
    --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.5);
    --vscode-terminal-border: #7a828e;
    --vscode-terminal-tab\.activeBorder: #0a0c10;
    --vscode-testing-iconFailed: #000000;
    --vscode-testing-iconErrored: #000000;
    --vscode-testing-iconPassed: #000000;
    --vscode-testing-runAction: #000000;
    --vscode-testing-iconQueued: #000000;
    --vscode-testing-iconUnset: #848484;
    --vscode-testing-iconSkipped: #848484;
    --vscode-testing-peekBorder: #6fc3df;
    --vscode-testing-message\.error\.decorationForeground: #f0f3f6;
    --vscode-testing-message\.info\.decorationForeground: rgba(240, 243, 246, 0.5);
    --vscode-welcomePage-buttonBackground: #272b33;
    --vscode-welcomePage-buttonHoverBackground: #525964;
    --vscode-welcomePage-tileBackground: #000000;
    --vscode-welcomePage-progress\.background: #0a0c10;
    --vscode-welcomePage-progress\.foreground: #71b7ff;
    --vscode-statusBar-debuggingBackground: #ff6a69;
    --vscode-statusBar-debuggingForeground: #0a0c10;
    --vscode-statusBar-debuggingBorder: #7a828e;
    --vscode-debugExceptionWidget-border: #a31515;
    --vscode-debugExceptionWidget-background: #420b0d;
    --vscode-editorGutter-modifiedBackground: #e09b13;
    --vscode-editorGutter-addedBackground: #09b43a;
    --vscode-editorGutter-deletedBackground: #ff6a69;
    --vscode-minimapGutter-modifiedBackground: #009bf9;
    --vscode-minimapGutter-addedBackground: #33ab4e;
    --vscode-minimapGutter-deletedBackground: #fc5d6d;
    --vscode-editorOverviewRuler-modifiedForeground: rgba(224, 155, 19, 0.6);
    --vscode-editorOverviewRuler-addedForeground: rgba(9, 180, 58, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(255, 106, 105, 0.6);
    --vscode-editor-stackFrameHighlightBackground: rgba(198, 144, 38, 0.14);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(43, 106, 48, 0.2);
    --vscode-debugIcon-breakpointForeground: #e51400;
    --vscode-debugIcon-breakpointDisabledForeground: #848484;
    --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
    --vscode-debugIcon-breakpointStackframeForeground: #89d185;
    --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-ports-iconRunningProcessForeground: #409eff;
    --vscode-notebook-cellBorderColor: #7a828e;
    --vscode-notebook-focusedEditorBorder: #409eff;
    --vscode-notebookStatusSuccessIcon-foreground: #89d185;
    --vscode-notebookStatusErrorIcon-foreground: #ff6a69;
    --vscode-notebookStatusRunningIcon-foreground: #f0f3f6;
    --vscode-notebook-cellToolbarSeparator: #6fc3df;
    --vscode-notebook-selectedCellBorder: #6fc3df;
    --vscode-notebook-inactiveSelectedCellBorder: #409eff;
    --vscode-notebook-focusedCellBorder: #409eff;
    --vscode-notebook-inactiveFocusedCellBorder: #7a828e;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
    --vscode-notebook-cellInsertionIndicator: #409eff;
    --vscode-notebookScrollbarSlider-background: rgba(72, 79, 88, 0.2);
    --vscode-notebookScrollbarSlider-hoverBackground: rgba(72, 79, 88, 0.27);
    --vscode-notebookScrollbarSlider-activeBackground: rgba(72, 79, 88, 0.53);
    --vscode-scm-providerBorder: #6fc3df;
    --vscode-searchEditor-textInputBorder: #7a828e;
    --vscode-debugTokenExpression-name: #f0f3f6;
    --vscode-debugTokenExpression-value: #f0f3f6;
    --vscode-debugTokenExpression-string: #f48771;
    --vscode-debugTokenExpression-boolean: #75bdfe;
    --vscode-debugTokenExpression-number: #89d185;
    --vscode-debugTokenExpression-error: #f48771;
    --vscode-debugView-exceptionLabelForeground: #f0f3f6;
    --vscode-debugView-exceptionLabelBackground: #6c2022;
    --vscode-debugView-stateLabelForeground: #f0f3f6;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #f0f3f6;
    --vscode-debugConsole-warningForeground: #008000;
    --vscode-debugConsole-errorForeground: #ff6a69;
    --vscode-debugConsole-sourceForeground: #f0f3f6;
    --vscode-debugConsoleInputIcon-foreground: #f0f3f6;
    --vscode-debugIcon-pauseForeground: #75beff;
    --vscode-debugIcon-stopForeground: #f48771;
    --vscode-debugIcon-disconnectForeground: #f48771;
    --vscode-debugIcon-restartForeground: #89d185;
    --vscode-debugIcon-stepOverForeground: #75beff;
    --vscode-debugIcon-stepIntoForeground: #75beff;
    --vscode-debugIcon-stepOutForeground: #75beff;
    --vscode-debugIcon-continueForeground: #75beff;
    --vscode-debugIcon-stepBackForeground: #75beff;
    --vscode-extensionIcon-starForeground: #ff8e00;
    --vscode-terminal-ansiBlack: #7a828e;
    --vscode-terminal-ansiRed: #cd777f;
    --vscode-terminal-ansiGreen: #26cd4d;
    --vscode-terminal-ansiYellow: #f0b72f;
    --vscode-terminal-ansiBlue: #71b7ff;
    --vscode-terminal-ansiMagenta: #cb9eff;
    --vscode-terminal-ansiCyan: #39c5cf;
    --vscode-terminal-ansiWhite: #d9dee3;
    --vscode-terminal-ansiBrightBlack: #9ea7b3;
    --vscode-terminal-ansiBrightRed: #ffb1af;
    --vscode-terminal-ansiBrightGreen: #4ae168;
    --vscode-terminal-ansiBrightYellow: #f7c843;
    --vscode-terminal-ansiBrightBlue: #91cbff;
    --vscode-terminal-ansiBrightMagenta: #dbb7ff;
    --vscode-terminal-ansiBrightCyan: #56d4dd;
    --vscode-terminal-ansiBrightWhite: #ffffff;
    --vscode-interactive-activeCodeBorder: #6fc3df;
    --vscode-interactive-inactiveCodeBorder: #7a828e;
    --vscode-gitDecoration-addedResourceForeground: #26cd4d;
    --vscode-gitDecoration-modifiedResourceForeground: #f0b72f;
    --vscode-gitDecoration-deletedResourceForeground: #ff6a69;
    --vscode-gitDecoration-renamedResourceForeground: #73c991;
    --vscode-gitDecoration-untrackedResourceForeground: #26cd4d;
    --vscode-gitDecoration-ignoredResourceForeground: #7a828e;
    --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
    --vscode-gitDecoration-conflictingResourceForeground: #e7811d;
    --vscode-gitDecoration-submoduleResourceForeground: #f0f3f6;
    --vscode-issues-newIssueDecoration: #f0f3f6;
    --vscode-issues-open: #f0f3f6;
    --vscode-issues-closed: #f0f3f6;
}
